
<h2>Пользователь @Model.Name_Quest</h2>


<h2>HI</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.ID</dd>

        <dt>Возраст</dt>
        <dd>@Model.Answ</dd>
    </dl>
</div>