@model WebApplication2.DataBase.UserAnswers
<form asp-controller="Home" asp-action="Create">
    <div class="form-group">
        <label asp-for="Answ" class="control-label">Answer</label>
        <input type="number" asp-for="Answ" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-outline-success" />
    </div>
</form>